## **Introduction** ##

Main Aim : An analysis of Irelands Agricultural data and comparing the Irish Agri Sector with other countries worldwide. 

Main Aim of Data Preparation & visualisation Tasks : 

- Using EDA ( Exploratory Data Analysis ) to help identify patterns , inconsistencies, anomalies , missing data and other attributes and issues in the choosen datasets. To address these as well
- With machine learning in mind , use the appropriate data cleaning ,engineering and extraction and other techniques to structure and enrich the data
- Develop an interactive dashboard ( visualisation to communicate information) tailored to modern farmers using tufts principles to shocaste the information gathered from the machine learning

## **What data are we exploring today?**

Reference : https://agridata.ec.europa.eu/extensions/DashboardDairy/DairyPrices.html#
https://agridata.ec.europa.eu/extensions/DashboardRawMilk/RawMilkPrices.html#


Is there a correlation between the price of butter and its stock  ? 

typically - if the price is high , the stocks are low and most people sell , and vice versa 

Objective is to find the right predictors - investigate seasonal effects  and the price of milk on the butter prices

#### **1. Importing or required Libraries for EDA**

In [947]:
# Importing required libraries.
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline
sns.set(color_codes=True) 
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

#### **2. Loading the data into the data frame.**

1. European Data -  Reference : https://agridata.ec.europa.eu/extensions/DashboardDairy/DairyPrices.html# https://agridata.ec.europa.eu/extensions/DashboardRawMilk/RawMilkPrices.html#

In [948]:
EuropeanButterStock = pd.read_csv('European Butter Stock.csv')

In [949]:
EuropeanButterStock.head()

,Member State,Member State Code,Category,Year,Month,Thousand tonnes
0,Austria,AT,"Butter, incl. dehydrated butter and ghee, and ...",2022,January,3.32
1,Austria,AT,"Butter, incl. dehydrated butter and ghee, and ...",2022,February,2.85
2,Austria,AT,"Butter, incl. dehydrated butter and ghee, and ...",2022,March,3.36
3,Austria,AT,"Butter, incl. dehydrated butter and ghee, and ...",2022,April,3.13
4,Austria,AT,"Butter, incl. dehydrated butter and ghee, and ...",2022,May,3.09

In [950]:
EuropeanMilkStock = pd.read_csv('European Milk Stock.csv')

In [951]:
EuropeanMilkStock.head()

,Member State,Member State Code,Category,Year,Month,Thousand tonnes
0,Austria,AT,Total raw cow's milk delivered to dairies,2022,January,281.97
1,Austria,AT,Total raw cow's milk delivered to dairies,2022,February,264.78
2,Austria,AT,Total raw cow's milk delivered to dairies,2022,March,298.06
3,Austria,AT,Total raw cow's milk delivered to dairies,2022,April,290.51
4,Austria,AT,Total raw cow's milk delivered to dairies,2022,May,299.46

https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s
#The error is because there is some non-ascii character in the dictionary and it can't be encoded/decoded. One simple way to avoid this error is to encode such strings with encode() function as follows (if a is the string with non-ascii character):

In [952]:
EuropeanButterPrices = pd.read_csv('European union Butter Prices.csv',encoding='unicode_escape')

In [953]:
EuropeanMilkPrices = pd.read_csv('European milk prices.csv',encoding='unicode_escape')

In [954]:
EuropeanMilkPrices.head()

   Year Month Member State   Product  Price(/100kg)
0  2022   Jan      Belgium  Raw milk           45.13
1  2022   Jan     Bulgaria  Raw milk           37.61
2  2022   Jan      Czechia  Raw milk           39.82
3  2022   Jan      Denmark  Raw milk           43.68
4  2022   Jan      Germany  Raw milk           43.03

2. IRISH Data -  Reference :https://data.cso.ie/

In [955]:
IrishButterStock = pd.read_csv('CSO Irish Butter Production.csv')

In [956]:
IrishButterStock.head()

                STATISTIC Label          Month Product        UNIT  VALUE
0  Production of Dairy Products   1980 January  Butter  000 Tonnes    1.8
1  Production of Dairy Products  1980 February  Butter  000 Tonnes    4.4
2  Production of Dairy Products     1980 March  Butter  000 Tonnes    8.7
3  Production of Dairy Products     1980 April  Butter  000 Tonnes   13.7
4  Production of Dairy Products       1980 May  Butter  000 Tonnes   17.3

In [957]:
IrishButterprice = pd.read_csv('CSO Butter prices 2011-2022.csv')

In [958]:
IrishMilkStock = pd.read_csv('CSO Irish MilkProduction.csv')

In [959]:
IrishMilkStock.head()

,Statistic Label,Month,Domestic or Import Source,UNIT,VALUE
0,Intake of Cows Milk by Creameries and Pasteuri...,1975 January,Domestic,Million Litres,55.8
1,Intake of Cows Milk by Creameries and Pasteuri...,1975 February,Domestic,Million Litres,84.4
2,Intake of Cows Milk by Creameries and Pasteuri...,1975 March,Domestic,Million Litres,193.3
3,Intake of Cows Milk by Creameries and Pasteuri...,1975 April,Domestic,Million Litres,327.5
4,Intake of Cows Milk by Creameries and Pasteuri...,1975 May,Domestic,Million Litres,493.5

In [960]:
IrishMilkprice = pd.read_csv('CSO Milk Prices 2014-2022.csv')

## **3. Data Preparation .**

### 1. European Butter Prices Dataset

Organise data in terms of months and remove the week column

In [961]:
EuropeanButterPrices.head(5)

   Year  Week Member State Product  Begin Date    End Date  Price (/100kg)
0  2000    52      Belgium  BUTTER  25/12/2000  31/12/2000           326.10
1  2000    52      Denmark  BUTTER  25/12/2000  31/12/2000           376.70
2  2000    52      Germany  BUTTER  25/12/2000  31/12/2000           352.79
3  2000    52      Ireland  BUTTER  25/12/2000  31/12/2000           292.04
4  2000    52       Greece  BUTTER  25/12/2000  31/12/2000           460.16

In [962]:
EuropeanButterPrices["Begin Date"] = pd.to_datetime(EuropeanButterPrices["Begin Date"])

In [963]:
EuropeanButterPrices.head(5)

   Year  Week Member State Product Begin Date    End Date  Price (/100kg)
0  2000    52      Belgium  BUTTER 2000-12-25  31/12/2000           326.10
1  2000    52      Denmark  BUTTER 2000-12-25  31/12/2000           376.70
2  2000    52      Germany  BUTTER 2000-12-25  31/12/2000           352.79
3  2000    52      Ireland  BUTTER 2000-12-25  31/12/2000           292.04
4  2000    52       Greece  BUTTER 2000-12-25  31/12/2000           460.16

In [964]:
EuropeanButterPrices['Month'] = pd.DatetimeIndex(EuropeanButterPrices["Begin Date"]).month

In [965]:
EuropeanButterPrices.groupby(EuropeanButterPrices['Begin Date'].dt.month)['Price (/100kg)'].mean()

Begin Date
1     352.518843
2     352.876086
3     355.813380
4     356.434747
5     357.043786
6     358.089287
7     363.152140
8     363.698226
9     363.378740
10    372.647288
11    372.050699
12    356.798542
Name: Price (/100kg), dtype: float64

In [966]:
EuropeanButterPrices.rename(columns={"Price (/100kg)": "Butter Price (/100kg)"},inplace=True)

In [967]:
EuropeanButterPrices1 = EuropeanButterPrices.drop(['Begin Date','End Date','Week','Product'],axis=1)

In [968]:
EuropeanButterPrices1.head()

   Year Member State  Butter Price (/100kg)  Month
0  2000      Belgium                  326.10     12
1  2000      Denmark                  376.70     12
2  2000      Germany                  352.79     12
3  2000      Ireland                  292.04     12
4  2000       Greece                  460.16     12

In [969]:
# rearranging the location of the columns
#EuropeanButterPrices2=EuropeanButterPrices1.iloc[:, [0,7,2,6]]
#EuropeanButterPrices2.head()

### 2.European Milk Prices Dataset

In [970]:
EuropeanMilkPrices.head(5)

   Year Month Member State   Product  Price(/100kg)
0  2022   Jan      Belgium  Raw milk           45.13
1  2022   Jan     Bulgaria  Raw milk           37.61
2  2022   Jan      Czechia  Raw milk           39.82
3  2022   Jan      Denmark  Raw milk           43.68
4  2022   Jan      Germany  Raw milk           43.03

In [971]:
EuropeanMilkPrices.rename(columns={"Price(/100kg)": "Raw Milk Price(/100kg)"},inplace=True)

In [972]:
EuropeanMilkPrices.head(5)

   Year Month Member State   Product  Raw Milk Price(/100kg)
0  2022   Jan      Belgium  Raw milk                    45.13
1  2022   Jan     Bulgaria  Raw milk                    37.61
2  2022   Jan      Czechia  Raw milk                    39.82
3  2022   Jan      Denmark  Raw milk                    43.68
4  2022   Jan      Germany  Raw milk                    43.03

In [973]:
EuropeanMilkPrices1=EuropeanMilkPrices.drop(['Product'],axis=1)

### 3. European Butter Stock

In [974]:
EuropeanButterStock.rename(columns={'Thousand tonnes':"Butter Thousand tonnes"},inplace=True)

In [975]:
#EuropeanButterStock.head(5)

In [976]:
EuropeanButterStock1 = EuropeanButterStock.drop(['Member State Code','Category'],axis=1)

In [977]:
#EuropeanButterStock.head(5)

In [978]:
EuropeanButterStock1.rename(columns={'Thousand tonnes':"Milk Thousand tonnes"},inplace=True)

### 4. European Milk Stock

In [979]:
EuropeanMilkStock.rename(columns={'Thousand tonnes':"Milk Thousand tonnes"},inplace=True)

In [980]:
EuropeanMilkStock1 = EuropeanMilkStock.drop(['Member State Code','Category'],axis=1)

In [981]:
EuropeanMilkStock1.dtypes

Member State            object
Year                     int64
Month                   object
Milk Thousand tonnes    object
dtype: object

### 5. European Milk Stock

In [982]:
# Create a list
EuropeanButterMilkData = [EuropeanMilkStock1,EuropeanButterStock1,EuropeanMilkPrices1,EuropeanButterPrices1]

In [983]:
right_merged = pd.merge(EuropeanMilkStock1, EuropeanButterStock1, how="right", on=["Member State", "Year","Month" ])
right_merged

,Member State,Year,Month,Milk Thousand tonnes,Butter Thousand tonnes
0,Austria,2022,January,281.97,3.32
1,Austria,2022,February,264.78,2.85
2,Austria,2022,March,298.06,3.36
3,Austria,2022,April,290.51,3.13
4,Austria,2022,May,299.46,3.09
...,...,...,...,...,...
6129,Slovakia,2004,August,81.20,0.89
6130,Slovakia,2004,September,76.50,0.74
6131,Slovakia,2004,October,74.45,0.64
6132,Slovakia,2004,November,68.20,0.62
6133,Slovakia,2004,December,77.05,0.78

In [984]:
left_merged = pd.concat([right_merged,EuropeanMilkPrices1,EuropeanButterPrices1],axis = "columns",join="inner")
left_merged

,Member State,Year,Month,Milk Thousand tonnes,Butter Thousand tonnes,Year,Month,Member State,Raw Milk Price(/100kg),Year,Member State,Butter Price (/100kg),Month
0,Austria,2022,January,281.97,3.32,2022,Jan,Belgium,45.13,2000,Belgium,326.10,12
1,Austria,2022,February,264.78,2.85,2022,Jan,Bulgaria,37.61,2000,Denmark,376.70,12
2,Austria,2022,March,298.06,3.36,2022,Jan,Czechia,39.82,2000,Germany,352.79,12
3,Austria,2022,April,290.51,3.13,2022,Jan,Denmark,43.68,2000,Ireland,292.04,12
4,Austria,2022,May,299.46,3.09,2022,Jan,Germany,43.03,2000,Greece,460.16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Belgium,2007,March,294.00,11.59,2005,Jan,Slovakia,25.07,2000,Germany,326.20,1
453,Belgium,2007,April,285.58,11.35,2005,Jan,Finland,34.42,2000,Ireland,293.31,1
454,Belgium,2007,May,293.84,11.33,2005,Jan,Sweden,31.63,2000,Greece,429.47,1
455,Belgium,2007,June,270.00,7.89,2004,Jan,Slovenia,27.95,2000,Spain,294.50,1
456,Belgium,2007,July,260.57,7.03,2003,Jan,Slovenia,28.43,2000,France,299.56,1

In [985]:
ButterMilkComparison = left_merged.loc[:,~left_merged.columns.duplicated()].copy()

In [986]:
#ButterMilkComparison.head()

In [987]:
ButterMilkComparison.dtypes

Member State                object
Year                         int64
Month                       object
Milk Thousand tonnes        object
Butter Thousand tonnes     float64
Raw Milk Price(/100kg)    float64
Butter Price (/100kg)     float64
dtype: object

In [988]:
# converting 'Weight' and 'Salary' from float to int
#ButterMilkComparison = ButterMilkComparison.astype({ "Butter Thousand tonnes":'int', "Raw Milk Price(/100kg)":'int',"Butter Price (/100kg)":'int',})

In [989]:
# Milk Thousand tonnes was a object type and wouldnt convert to int normally , has to used the below code
ButterMilkComparison['Milk Thousand tonnes'] = pd.to_numeric(ButterMilkComparison['Milk Thousand tonnes'],errors='coerce')

In [990]:
ButterMilkComparison.dtypes

Member State                object
Year                         int64
Month                       object
Milk Thousand tonnes       float64
Butter Thousand tonnes     float64
Raw Milk Price(/100kg)    float64
Butter Price (/100kg)     float64
dtype: object

In [991]:
# Rows containing duplicate data
duplicate_rows_df = ButterMilkComparison[ButterMilkComparison.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 7)

In [992]:
duplicate_rows_df.count()

Member State               0
Year                       0
Month                      0
Milk Thousand tonnes       0
Butter Thousand tonnes     0
Raw Milk Price(/100kg)    0
Butter Price (/100kg)     0
dtype: int64

In [993]:
# Finding the null values.
print(duplicate_rows_df.isnull().sum())

Member State               0.0
Year                       0.0
Month                      0.0
Milk Thousand tonnes       0.0
Butter Thousand tonnes     0.0
Raw Milk Price(/100kg)    0.0
Butter Price (/100kg)     0.0
dtype: float64